body {
    color: #222;
    background: #fff;
    font-family: monospace,"Courier New", Courier;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

#password {
    font-size: 35px;
    margin: 50px 0px 50px 0px;
}